.bullet-list {
	--gap: var(--spacing-em-450);
	--text: var(--clr-neutral-400);

	display: flex;
	align-items: center;
	gap: var(--gap);
	font-size: var(--fz-600);
	color: var(--text);

	& > li + li {
		position: relative;

		// circles between list items
		&::before {
			--half-gap: calc(var(--gap) / 2);
			content: '';
			position: absolute;
			top: 50%;
			left: calc(var(--half-gap) * -1);
			transform: translate(-50%, -100%);
			width: 0.4rem;
			aspect-ratio: 1;
			background-color: var(--text);
			border-radius: 50%;
		}
	}
}
